.imgfluid {
  max-width: "100%";
  height: auto;
}
.logo {
  width: auto;
  height: 80;
}

.topbar .container-fluid {
  border-bottom: 1px solid;
  border-color: #f5f6f7;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content .container-fluid {
  padding: 1rem;
}
.text-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.scan-text {
  margin-bottom: 1rem;
}

.btn {
  border-radius: 40px;
  border-color: #353535;
  height: 72;
}

.btn-dark {
  background: #353535;
  border-radius: 40px;
}
.btn-dark img {
  width: 32;
  height: 32;
}

.btn-light {
  border-width: 2;
}

.btn-light p {
  color: #353535;
}

h1,
h2 {
  color: #414742;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
}
